form{
    max-width: 500px;
    background-color:rgb(215, 191, 163);
    padding: 30px;
    border-radius: 8px;
    box-sizing: border-box;

}
label{
    display: block; /*cada label Ocupa linha completa*/
}
input{
    width: 100%;
    padding: 10PX;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    margin-top: 20px;
    padding:12px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color:rgb(121, 15, 15);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
    button:hover{
    background-color: darkgrey;
    transform: translateY(-2px); /* Move o botão dois pixels para cima, criando a sensação de elevação*/
    box-shadow: 0 4px 10px rgb(84, 84, 88);

}
    button:active{
        transform: translateY(0);
        box-shadow: none;
    
}

